    .center {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .login {
        width: 300px;
    }
    
    body {
        background-color: #2B2E4A;
    }
    
    .card {
        background-color: #EA5455;
        border: none;
        box-shadow: none;
    }