<div class="center">
    <h1 class="text-center metrich">Task Lists</h1>
</div>

<div class="container mt-5">
    <div class="row d-flex justify-content-left ">
        <div class="col-md-6">
            <div class="card">

                <div class="list border-bottom"> <i class="bi bi-person-fill"></i>
                    <div class="d-flex flex-column ml-3">
                        <H2 class="text-center satisfyFont italic">Jeremy Rakotoson</H2>
                    </div>
                </div>
                <div class="list border-bottom"> <i class="bi bi-check2-all"></i>
                    <div class="d-flex flex-column ml-3"> <span>Login</span> <small>12 Octobre</small> </div>
                </div>
                <div class="list border-bottom"> <i class="bi bi-check2"></i>
                    <div class="d-flex flex-column ml-3"> <span>Carousel</span> <small>13 Octobre</small> </div>
                </div>
                <div class="list"> <i class="bi bi-hourglass-top"></i>
                    <div class="d-flex flex-column ml-3"> <span>Acceuil</span> <small>23 Octobre</small> </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">

                <div class="list border-bottom"> <i class="bi bi-person-fill"></i>
                    <div class="d-flex flex-column ml-3">
                        <H2 class="text-center satisfyFont italic">Rojo Sarobidy</H2>
                    </div>
                </div>
                <div class="list border-bottom"> <i class="bi bi-check2-all"></i>
                    <div class="d-flex flex-column ml-3"> <span>Register</span> <small>12 Octobre</small> </div>
                </div>
                <div class="list border-bottom"> <i class="bi bi-check2-all"></i>
                    <div class="d-flex flex-column ml-3"> <span>Contact</span> <small>14 Octobre</small> </div>
                </div>
                <div class="list"> <i class="bi bi-check2"></i>
                    <div class="d-flex flex-column ml-3"> <span>Base de données</span> <small>2 Novembre</small> </div>
                </div>
            </div>
        </div>
    </div>


</div>